<div class="body">
    <!-- This is Body Component -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directive></app-directive> -->
    <!-- <app-users></app-users> -->
    <!-- <app-demo1>
            <h1>This Content Comes from Body Component</h1>
        </app-demo1> -->
    <!-- <app-my-modal>
        <h3 id="title">This is Title</h3>
        <h1>The content From Parent</h1>
    </app-my-modal> -->
    <!-- <app-products></app-products> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-parent></app-parent> -->
    <!-- <app-math1></app-math1>
        <app-math2></app-math2> -->
    <!-- <app-comments></app-comments> -->
    <!-- <app-http-demo1></app-http-demo1> -->
    <!-- <app-employee-list></app-employee-list> -->
    <!-- @if(flag){
          <app-observable-demo1></app-observable-demo1>
      }
      <button class="btn btn-primary" (click)="flag=!flag">change flag</button> -->
    <!-- <app-observable-demo2></app-observable-demo2> -->
    <app-observable-demo3></app-observable-demo3>
</div>