<h1 class="text-center">Product List</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-1">
            <input type="search" placeholder="Search..." #searchBox />
            <button class="btn btn-success" (click)="searchProducts(searchBox.value)">Search</button>
        </div>
        <div class="col-sm-3 offset-2">
            <button class="btn btn-primary mx-1" (click)="sortByAsc()">Sort Asc</button>
            <button class="btn btn-secondary" (click)="sortByDesc()">Sort Desc</button>
        </div>
    </div>
    <hr />
    <div class="row my-2">
        <!-- <div class="col-sm-3" *ngFor="let prod of myProducts | paginate: { itemsPerPage: 4, currentPage: p }"> -->
        @for(prod of filteredProducts | paginate: { itemsPerPage: 4, currentPage: p };track prod.id){
        <div class="col-sm-3">
            <div class="card text-center m-1">
                <img src="{{prod.image}}" class="card-img-top" alt="..." height="200">
                <div class="card-body">
                    <h5 class="card-title">{{prod.category}}</h5>
                    <p class="card-text text-truncate">{{prod.title}}</p>
                    <p class="card-text text-truncate">{{prod.description}}</p>
                    <p class="card-text">{{prod.price}}</p>
                    <p class="card-text">{{prod.rating.rate}}</p>
                    <button class="btn btn-primary" [routerLink]="['/productdetails', prod.id]">
                      Details</button>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="row my-1">
        <div class="col-sm-6 offset-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>