<h2 class="text-center">User details using query param</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4">
            <div class="card text-center">
                <img src="https://www.transparentpng.com/thumb/user/gray-user-profile-icon-png-fP8Q1P.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{user.id}}</p>
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">{{user.email}}</p>
                    <button>Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>