<h2 class="text-center">THis is Careers Component</h2>
<form #myForm="ngForm" (submit)="submitMyForm(myForm)">
    <p>
        First Name: <input name="firstName" #fname="ngModel" required minlength="5" ngModel />
        <span *ngIf="fname.dirty && fname.hasError('required')" class="text-danger m-2">FirstName is Required</span>
        <span *ngIf="fname.dirty && fname?.errors?.['minlength']" class="text-danger m-2">minimum 5 characters
        </span>
    </p>
    <p>
        Last Name: <input name="lastName" required ngModel />
        <span *ngIf="myForm.controls['lastName'].dirty && myForm.controls['lastName'].hasError('required')"
            class="text-danger m-2">lastName is Required</span>
    </p>
    <p>Email: <input name="email" minlength="5" required type="email" ngModel /></p>
    <input type="submit" value="Submit" class="m-1 btn btn-primary" [disabled]="myForm.invalid">
    <input type="reset" value="Reset" class="btn btn-secondary">
</form>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="m-2">
                <a routerLink="permanent">Permanent Jobs</a>
            </div>
            <div class="m-2">
                <a routerLink="contract">Contract Jobs</a>
            </div>
        </div>
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>