<h3 class="text-center">Product Details Component</h3>

<div class="col-sm-3 offset-4">
    <div class="card text-center m-1">
        <img src="{{product?.image}}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">{{product?.category}}</h5>
            <p class="card-text text-truncate">{{product?.title}}</p>
            <p class="card-text text-truncate">{{product?.description}}</p>
            <p class="card-text">{{product?.price}}</p>
            <p class="card-text">{{product?.rating?.rate}}</p>
            <!-- <button class="btn btn-primary" [routerLink]="['/productdetails', product.id]">
                Details</button> -->
        </div>
    </div>
</div>