<div class="container border text-center">
    <div class="row">
        <div class="col">
            <div> My Own data a is- {{a}} ,
                change a value::<input type="number" [(ngModel)]="a" /></div>
            <div>My Child's data b is {{child1.b}}</div>
            <div>My Child's data name is <b>{{parentName}}</b></div>
            <button (click)="flag=!flag">Toggle Flag - {{flag}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 border">
            <app-child1 [a]='a' [childf1]="f1" #child1></app-child1>
        </div>
        <div class="col-sm-6 border">
            @if(flag){
                <app-child2 [aChild]="a" [child1]="child1" (nameEvent)="receiveDatFromChild($event)"></app-child2>
            }
        </div>
    </div>
</div>