<h1 class="text-center" [hidden]="isTableView">User Listing Component</h1>
@if(isTableView){
<table class="table table-bordered table-striped">
    <tbody>
        @for(user of users;track user.id){
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address.zipcode}}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/userdetails']"
                    [queryParams]="{id:user.id,name:user.name,email:user.email}">View</button>
                <button class="btn btn-danger">Del</button>
                <button (click)="selectedUser = user">select</button>
            </td>
        </tr>
        }@empty{
        No Records Found
        }
    </tbody>
</table>
}@else{
<div class="container">
    <div class="row">
        @for(user of users;track user.id){
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://www.transparentpng.com/thumb/user/gray-user-profile-icon-png-fP8Q1P.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">{{user.id}}</p>
                    <p class="card-text">{{user.email}}</p>
                    <p class="card-text">{{user.address.street}}</p>
                    <p class="card-text">{{user.phone}}</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
}

<h1>Selected User: {{selectedUser?.name}}</h1>